/* Формы администрирования */

.price-admin-page {
  margin-top: 50px;
}

.site-price-position-form__container {
  background-color: #ececec;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.15);
  padding: 10px;
}

.button,
.button:visited {
  font-size: 0.7em;
  padding: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #f4f4f4;
  text-decoration: none;
  vertical-align: middle;
  border: 1px solid #cccccc;
  color: #c8a2c8;
}

.button:hover,
.button:focus {
  background: #f9f9f9;
  text-decoration: none;
  color: #c8a2c8;
}
